#title {
    margin: 0;
    margin-left: 15px;
    padding: 0.5rem 1rem;

    a {
        color: $white;
        text-decoration: none;

        &:focus {
            box-shadow: 0 0 0 1px black, 0 0 0 2px white;
        }
    }
}

.navbar-toggle-icon {
    cursor: pointer;
    vertical-align: middle;
    height: 44px;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    flex-wrap: wrap;
    max-width: none;
    margin: 0;
}

.navbar-checkbox,
.navbar-toggle {
    position: absolute;
    top: -999px;
}

.navbar-toggle:focus + .navbar-toggle-label,
.navbar-toggle-label:hover {
    background-color: $primary-dark;
}

.navbar-toggle-label {
    color: white;
    border: solid white 1px;
    border-radius: 2px;
    padding: 5px;
    font-size: 1.25rem;
    margin-right: 15px;
}

.navbar-toggle:checked ~ .navbar {
    display: flex;
}

.navbar-expand {
    display: flex;
}

.navbar,
.navbar-expand {
    padding: 0;
    list-style-type: none;
    position: relative;
    margin: 0;
    flex-direction: column;
}

.navbar {
    display: none;
    background-color: $background-color;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4px;
    width: 100%;
}

.navbar-link,
.navbar-expand-link,
.navbar-label {
    color: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 18px;
    text-align: center;
    display: inline-block;

    &:hover{
        color: $secondary;
        text-decoration: none; 
    }
}

.navbar-label::after {
    content: url("../images/navbar/dropdown-primary-dark.svg");
    margin-left: 0.25rem;
    width: 16px;
    display: inline-block;
    transition: transform 250ms ease-out;
    transform: rotate(-45deg);
}

.navbar-link:hover,
.navbar-link:focus {
    text-decoration: none;
}

.navbar-item {
    position: relative;
}

.navbar-expand {
    display: none;
    overflow: hidden;
    padding: 0;
    padding-left: 0.5rem;
    position: relative;
    white-space: nowrap;
}

.navbar-expand-link {
    display: inline-block;
    font-size: 16px;
}

.navbar-item,
.navbar-expand-item {
    border-top: 1px solid $hint-color;
    color: $primary-dark;

    &:focus-within{
        color: $secondary;
    }
}
.navbar-label:hover:after, .navbar-item:focus-within .navbar-label::after{
    content: url('../images/navbar/dropdown-secondary.svg');
}

.navbar-checkbox:checked + .navbar-label::after {
    transform: rotate(135deg);
}

.navbar-item:first-of-type,
.navbar-expand-item:first-of-type {
    border-top: none;
}

.navbar-checkbox:checked ~ .navbar-expand {
    display: block;
}

$cutoff: 500px;

@media (min-width: $cutoff) {
    .navbar-item:hover,
    .navbar-item:focus-within {
        background-color: $primary-dark;
    }

    .navbar-item,
    .navbar-expand-item {
        border-top: none;
    }

    .navbar-wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .navbar {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        margin: 0;
        width: auto;
    }

    .navbar-expand {
        background: $background-color;
        min-width: 100%;
        position: absolute;
        padding: 0;
        top: 100%;
        z-index: 100;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
    }

    .navbar-expand-item {
        border-bottom: 1px solid $primary;
    }

    .navbar-link,
    .navbar-label {
        color: #fff;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .navbar-toggle,
    .navbar-toggle-label {
        display: none;
    }

    .navbar-item:hover > .navbar-expand {
        display: block;
    }

    .navbar-label::after {
        content: url("../images/navbar/dropdown.svg");
    }

    .navbar-item:hover .navbar-label::after,
    .navbar-item:focus-within .navbar-label::after {
        content: url("../images/navbar/dropdown.svg");
        transform: rotate(135deg);
    }
}

@media (min-width: $width + 2*15px) {
    #title {
        margin-left: calc((100vw - #{$width}) / 2);
    }

    .navbar-toggle-label {
        margin-right: calc((100vw - #{$width}) / 2);
    }

    .navbar {
        padding-left: calc((100vw - #{$width}) / 2);
        padding-right: calc((100vw - #{$width}) / 2);
    }
}

@media (min-width: $cutoff) {
    #title {
        margin-left: 0;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-wrapper {
        max-width: $width;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: $width + 2*15px) and (min-width: $cutoff) {
    .navbar-wrapper {
        max-width: $width;
        margin: 0 auto;
    }
}
