.references {
    display: flex;
    background-color: rgba(246, 246, 246, 0.2);
    border: solid 1px rgba(51, 51, 51, 0.12);
    margin: 16px;
    overflow: auto;
}

.title,
.authors,
.year,
.journal,
.volume,
.pages,
.citation {
    padding-top: 1rem;
    min-width: 3rem;
    display: block;
}

.links,
.info-wrapper {
    padding: 8px 12px;
}

.journal, .info {
    display: none;
}

.journal-checkbox:checked ~ .journal{
    display: block;
}

.journal-checkbox:checked ~ .info{
    display: flex;
}

.journal {
    flex-grow: 1;
}

.info > :not(:last-child) {
    padding-right: 4px;
    margin-right: 4px;
    border-right: solid 1px rgba(51, 51, 51, 0.12);
}

.info-wrapper-wrapper {
    position: relative;
    flex-grow: 1;
}

.info-wrapper > :not(:last-child) {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px rgba(51, 51, 51, 0.12);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 48px;

    @media print{
        display: none;
    }
}

.icon {
    height: 24px;
    width: 24px;
    fill: $text-color;

    &:hover,
    &:focus {
        fill: $secondary;
    }
}

.year,
.volume,
.pages {
    flex-grow: 1;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.author {
    padding-right: 4px;
    margin-right: 4px;
    padding-left: 4px;
    margin-left: 4px;
}

.citation {
    font-family: monospace;
    white-space: pre-line;
}

.title::before,
.authors::before,
.year::before,
.journal::before,
.volume::before,
.pages::before,
.citation::before {
    position: absolute;
    transform: translateY(-100%) translateX(1px);
    font-size: 0.75rem;
    color: $primary;
}

.title::before {
    content: "Title";
}

.authors::before {
    content: "Authors";
}

.year::before {
    content: "Year";
}

.journal::before {
    content: "Journal";
}

.volume::before {
    content: "Vol.";
}

.pages::before {
    content: "Pages";
}

.citation::before {
    content: "Citation";
}

.citation-checkbox {
    position: absolute;
    left: -999px;
}

.citation-checkbox ~ .links label svg:hover {
    stroke: $secondary;
}

.citation-checkbox:focus ~ .links label svg {
    stroke: $secondary;
}

.citation-checkbox ~ .links label svg {
    fill: none;
    stroke: $text-color;
    cursor: pointer;
}

.citation-checkbox:checked ~ .links label svg {
    fill: $text-color;
}

.citation-checkbox:checked ~ .info-wrapper-wrapper .citation-wrapper {
    display: block;
}

.citation-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 16px;
}

.citation-checkbox:checked ~ .info-wrapper-wrapper .info-wrapper {
    visibility: hidden;
}

.journal-checkbox{
    display: none;
}

.journal-checkbox:checked ~ .journal-checkbox-label{
    &::before{
        content: 'Show less';
    }
}

.journal-checkbox-label{
    color: $primary;
    display: block;
    font-size: 0.75rem;
    text-align: center;
    width: 100%;

    &::before{
        content: 'Show more';
    }
}
