---
---

$width: 720px;

.content {
    margin-left: 15px;
    margin-right: 15px;
    max-width: $width;
    overflow: auto;
}

@import "_colors.scss";
@import "_theme.scss";
@import "_papers.scss";
@import "_navbar.scss";
@import "_blog.scss";

#main-content {
    padding-bottom: 50px;
}

.centering{
    overflow: auto;
}

.centering *{
    margin-left: auto;
    margin-right: auto;
}

.flex-share {
    display: flex;
}

.flex-share * {
    flex-grow: 1;
    width: 0;
}

.hint {
    color: $hint-color;
    font-size: 0.9rem;
}

@media (min-width: $width + 2*15px) {
    .content {
        margin: 0 auto;
    }
}
