---
---

$width: 720px;

.content {
    margin-left: 15px;
    margin-right: 15px;
    max-width: $width;
    overflow: auto;
}

@import "_colors.scss";
@import "_theme.scss";
@import "_papers.scss";
@import "_navbar.scss";
@import "_blog.scss";

#main-content {
    padding-bottom: 50px;
}

.centering {
    overflow: auto;
}

.centering * {
    margin-left: auto;
    margin-right: auto;
}

.flex-share {
    display: flex;
}

.flex-share > * {
    flex-grow: 1;
    width: 0;
}

.hint {
    color: $hint-color;
    font-size: 0.9rem;
}

.copy-icon {
    height: 12px;
    width: 12px;
    fill: $primary;
    vertical-align: sub;
}

.copy-text {
    color: $primary;
    font-size: 12px;
    margin-left: 2px;
    user-select: none;
}

.copy-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    padding: 0;
    border: none;
}

.copy-button:hover > .copy-text,
.copy-button:focus > .copy-text {
    color: $secondary;
}

.copy-button:hover > .copy-icon,
.copy-button:focus > .copy-icon {
    fill: $secondary;
}

@media (min-width: $width + 2*15px) {
    .content {
        margin: 0 auto;
    }
}
