---
layout: default
math: true
---
<div id="main-content" class="content">
<h1>About</h1>

<p>I'm currently working towards a DPhil in combinatorics at the University of Oxford under the supervision of <a rel="noreferrer" target="_blank" href="https://people.maths.ox.ac.uk/scott/">Alex Scott</a>. Before starting my DPhil in 2017 I did an MMath in Oxford.</p>

<p>My main reserach interest is extremal combinatorics, and I tend to spend most of my time working on problems that involve hypercubes in some way.</p>

<h1>Papers</h1>
<div>
{% for paper_hash in site.data.papers %}
{% assign paper = paper_hash[1] %}
  <div class="references">
    <div class="links">
        <a class="pdf" href="{{paper.pdf}}" target="_blank"><img class="icon" src="/images/adobe-pdf-icon.svg" alt="PDF of {{paper.title}}"></a>
        <label>
          <input class="citation-checkbox" type="checkbox">
          {% include cite.svg %}
        </label>
    </div>
    <div class="info-wrapper-wrapper">
    <div class="info-wrapper">
      <span class="title">{{paper.title}}</span>
      <div class="authors">
        {% for author in paper.authors %}
        <span class="author">{{author.first}} {{author.last}}</span>
        {% endfor %}
      </div>
      <span class="journal">{{paper.journal}}</span>
      <div class="info">
        <span class="year">{{paper.year}}</span>
        <span class="volume">{{paper.volume}}</span>
        <span class="pages">{{paper.pages}}</span>
      </div>
    
    </div>
    <div class="citation-wrapper">
      <span class="citation">{{paper.citation}}</span>
    </div>
  </div>
  </div>

{% endfor %}
</div>

<h1>Contact</h1>
<p>If you have any questions or comments about some interesting maths (or the maths I've done), feel free to send me an email at <a href="mailto:thomas.johnston@lmh.ox.ac.uk">thomas.johnston@lmh.ox.ac.uk</a>.</p>
</div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    var citationCheckboxes = document.getElementsByClassName('citation-checkbox')
    for (var citCheck of citationCheckboxes){
      citCheck.addEventListener('change', toggleCitation)
    }
});

function toggleCitation(e){
  if (e.target.checked){
    var infoWrapperWrapper = e.target.closest('.references').getElementsByClassName('info-wrapper-wrapper')[0]
    var infoWrapper = infoWrapperWrapper.getElementsByClassName('info-wrapper')[0]
    var citWrapper = infoWrapperWrapper.getElementsByClassName('citation-wrapper')[0]
    infoWrapper.style.visibility = 'hidden';
    citWrapper.style.display = 'block';
  }else{
    var infoWrapperWrapper = e.target.parentElement.parentElement.parentElement.getElementsByClassName('info-wrapper-wrapper')[0]
    var infoWrapper = infoWrapperWrapper.getElementsByClassName('info-wrapper')[0]
    var citWrapper = infoWrapperWrapper.getElementsByClassName('citation-wrapper')[0]
    infoWrapper.style.visibility = 'visible';
    citWrapper.style.display = 'none';
  }
}
</script>
