<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Tom Johnston</title>
    <meta name="Description" content="Tom Johnston's personal webpage.">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">
    {% if page.math == true %}
      {% include katex.html %}
    {% endif %}
  </head>
  <body>
      <header class="header">
        <div class="content">
          <h1 id="title">Tom Johnston</h1>
        </div>
      </header>
    {{ content }}
  </body>
</html>
